.team-container {
    margin: 0 150px;
    padding: 0;
    list-style: none;
}

.team-content {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 0 40px 0 40px;
    position: relative;
    height: 80px;
}

.team-content img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: 60px;
}

.team-name-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.team_name {
    text-align: center;
}

.team_points {
    position: absolute;
    right: 50px;
    width: 50px;
    text-align: center;
}
